<template>
  <div class="app">
    <div class="logo">
      <img
              class="logo"
              src="/icons/ecoweb_logo_black.png"
              alt="logo"
              style="height: 45px;opacity: 0.7"
      />
      <Header/>
    </div>
    <div class="content" style="background-color: white">
      <Login v-show="!logged" />
      <Home v-show="logged" />
    </div>
  </div>
</template>

<script>
import Login from './components/Login'
import Home from './components/Home'
import Header from './components/Header'
import { mapActions, mapGetters } from 'vuex'

// TODO : Save login state and jwt in cookie | Check on startup

export default {
  components: {
    Home,
    Login,
    Header
  },
  computed: {
    ...mapGetters(['logged'])
  },
  methods: {
    ...mapActions(['updateStats']),
    async queryStats () {
      this.updateStats(await browser.storage.local.get())
    }
  },
  async created () {
    setInterval(async () => this.queryStats(), 1000)
  }
}
</script>

<style scoped>
  .app {
    height: 480px;
    width: 512px;
  }

  .logo {
    margin-left: 10px;

  }

  .content {
    margin-left: -8px;
    margin-right: -8px;
    height: 440px;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  @font-face {
    font-family: "Avenir_Black";
    src: url('/static/fonts/Avenir-Black.woff') format("woff");
  }

  @font-face {
    font-family: "Avenir_Light";
    src: url('/static/fonts/Avenir-Light.woff2') format("woff2");
  }
  @font-face {
    font-family: "Avenir_Roman";
    src: url('/static/fonts/Avenir-Roman.woff2') format("woff2");
  }
</style>
