<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="popup.css">
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <script src="http://localhost:8098"></script>
  <% } %>
</head>
<body style="background: #D7E2DE">
  <div id="app">
  </div>
  <script src="popup.js"></script>
</body>
</html>
