<template>
  <TreeMap :dataSource="chartSource" />
</template>

<script>
import TreeMap from '../Chart/TreeMap'
import { mapGetters } from 'vuex'

// TODO : Add better colors

export default {
  name: 'Domain',
  components: {
    TreeMap
  },
  data () {
    return {
      chartOptions: {
        plottooltext: '<b>$label</b><br>$datavalueB<br>',
        algorithm: 'squarified',
        theme: 'fusion'
      },
      palette: ['104437', '145242', '427467', '549584', 'a1b9b3']
    }
  },
  computed: {
    ...mapGetters(['byteUsagePerDomainChart', 'byteUsageTotal']),
    coloredData () {
      return this.byteUsagePerDomainChart
        .sort((a, b) => a.value + b.value)
        .map((domain, index) => ({ ...domain, fillColor: this.palette[index % 4] })
        )
    },
    chartSource () {
      return {
        data: [
          {
            label: 'Total',
            value: this.byteUsageTotal,
            fillcolor: 'fffff',
            data: this.coloredData
          }
        ],
        chart: this.chartOptions
      }
    }
  }
}
</script>
<style scoped>
</style>
