<template>
  <div class="col">
    <div class="row">
      <div class="item">
        <div class="icon">
          <img class="logo" src="/icons/equiv/data.png" alt="data" />
        </div>
        <div class="value">
          <span>
            {{ bytesFormated.split("*")[0] }}
          </span>
          <span style="font-weight: bold">
            {{ bytesFormated.split("*")[1] }}
          </span>
        </div>
      </div>

      <div class="item">
        <div class="icon">
          <img class="logo" src="/icons/equiv/co2.png" alt="co2" />
        </div>
        <div class="value">
          <span>
            {{ gCO2Total }}
          </span>
          <span style="font-weight: bold">
            g CO2
          </span>
        </div>
      </div>
      <div class="item">
        <div class="icon">
          <img class="logo" src="/icons/equiv/watt.png" alt="watt" />
        </div>
        <div class="value">
          <span>
            {{ kWhTotal }}
          </span>
          <span style="font-weight: bold">
            kWh
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item">
        <div class="icon">
          <img class="logo" src="/icons/equiv/km.png" alt="km" />
        </div>
        <div class="value">
          <span>
            {{ kmByCar }}
          </span>
          <span style="font-weight: bold">
            km
          </span>
        </div>
      </div>
      <div class="item">
        <div class="icon">
          <img class="logo" src="/icons/equiv/steak.png" alt="steak" />
        </div>
        <div class="value">
          <span>
            {{ steak }}
          </span>
          <span style="font-weight: bold">
            steak(s)
          </span>
        </div>
      </div>
      <div class="item">
        <div class="icon">
          <img class="logo" src="/icons/equiv/charge.png" alt="charge" />
        </div>
        <div class="value">
          <span>
            {{ chargedSmartphones }}
          </span>
          <span style="font-weight: bold">
            charge(s)
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import bytes from 'bytes'
import { mapGetters } from 'vuex'

export default {
  name: 'Equiv',
  data () {
    return {
      defaultCarbonIntensityFactorIngCO2PerKWh: 519,
      carbonIntensityFrance: 34.8,
      kWhPerByteDataCenter: 0.000000000072,
      kWhPerByteNetwork: 0.000000000152,
      kWhPerMinuteDevice: 0.00021,
      GESgCO2ForOneKmByCar: 220,
      GESgCO2ForOneChargedSmartphone: 8.3,
      GESgCO2ForOneSteack: 4000
    }
  },
  computed: {
    ...mapGetters(['byteUsageTotal']),
    megaByte () {
      return this.byteUsageTotal / 1024 / 1024
    },
    bytesFormated () {
      return bytes(Number.parseInt(this.byteUsageTotal), {
        unitSeparator: '*'
      })
    },
    kWhDataCenter () {
      return this.byteUsageTotal * this.kWhPerByteDataCenter
    },
    GESDataCenter () {
      return this.kWhDataCenter * this.defaultCarbonIntensityFactorIngCO2PerKWh
    },
    kWhNetwork () {
      return this.byteUsageTotal * this.kWhPerByteNetwork
    },
    GESNetwork () {
      return this.kWhNetwork * this.defaultCarbonIntensityFactorIngCO2PerKWh
    },
    kWhTotal () {
      return Math.round(1000 * (this.kWhDataCenter + this.kWhNetwork + this.kwhDevice)) / 1000
    },
    gCO2Total () {
      return Math.round(this.GESDataCenter + this.GESNetwork + this.GESDevice)
    },
    kmByCar () {
      return (
        Math.round((1000 * this.gCO2Total) / this.GESgCO2ForOneKmByCar) / 1000
      )
    },
    steak () {
      return Math.round(this.gCO2Total / this.GESgCO2ForOneSteack)
    },
    chargedSmartphones () {
      return Math.round(this.gCO2Total / this.GESgCO2ForOneChargedSmartphone)
    },
    kwhDevice () {
      return this.minutesDevice * this.kWhPerMinuteDevice
    },
    GESDevice () {
      return this.kwhDevice * this.carbonIntensityFrance
    },
    minutesDevice () {
      return Math.round((localStorage.getItem('duration') || 0) / 60)
    }
  }
}
</script>

<style scoped>
.col {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

row {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 27px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 27px;
}

.logo {
  width: 30px;
  height: 30px;
}

.icon {
  text-align: center;
}

.value {
  font-family: Avenir_Light;
  text-align: center;
  margin-top: 9px;
  font-size: 14px;
}
</style>
