<template>
  <div class="test">
    <fusioncharts
      type="treemap"
      width="100%"
      height="40%"
      dataFormat="json"
      :dataSource="dataSource"
    />
  </div>
</template>

<script>

import VueFusionChartsComponent from 'vue-fusioncharts/component'

import FusionCharts from 'fusioncharts'
import Charts from 'fusioncharts/fusioncharts.charts'
import TreeMap from 'fusioncharts/fusioncharts.treemap'

const vueFusionCharts = VueFusionChartsComponent(FusionCharts, Charts, TreeMap)

export default {
  name: 'TreeMap',
  components: {
    fusioncharts: vueFusionCharts
  },
  props: {
    dataSource: {
      type: Object
    }
  }
}

</script>

<style scoped>
  g[class^='raphael-group-'] {
    display:none !important;
  }
</style>
