<template>
    <div class="header">
        <div class="top-right" v-if="!skip">
            <div class="text" @click="account">
                {{ name }}
            </div>
            <img class="logo" src="/icons/logout.png" alt="logout" width="25px" height="25px" @click="logout" />
        </div>
        <div class="top-right" v-else @click="login()">
            <div class="text">
                Connexion
            </div>
            <img class="logo" src="/icons/user.png" alt="user"  width="20px" height="20px"/>
        </div>
    </div>
</template>

<script>

import { mapActions } from 'vuex'

export default {
  name: 'Header',
  computed: {
    skip () {
      const skip = localStorage.getItem('skip')
      return (skip === null) ? null : skip === 'true'
    },
    jwt () {
      const token = localStorage.getItem('jwt')
      return (token === null) ? null : token.split('.')[1]
    },
    claim () {
      return JSON.parse(Buffer.from(this.jwt, 'base64').toString())
    },
    name () {
      return this.claim.surname
    }
  },
  methods: {
    ...mapActions(['unskip', 'unsetjwt']),
    account () {
      window.open('https://ecoweb2.gitlab.io/webapp/#/profile')
    },
    login () {
      localStorage.removeItem('skip')
      this.unskip()
    },
    logout () {
      localStorage.removeItem('jwt')
      this.unsetjwt()
      browser.storage.local.clear()
    }
  }
}
</script>

<style scoped>

    .header{
        position: absolute;
        top: 0;
        right: 0;
    }

    .top-right {
        width: 230px;
        cursor: pointer;
        padding: 18px 25px;
        text-align: right;
    }

    .logo {
        width: 25px;
        height: 25px;
        display: inline-block;
        vertical-align: middle
    }

    .text {
        font-family: Avenir_Light;
        font-size: 16px;
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        padding-left: 10%;
    }

</style>
