<template>
  <div class="home">
    <Domain />
    <Equiv style="margin-top: 40px"/>
    <div class="footer" v-if="!skip">
      <BtnFilled text="Compenser" :click="compensate" style="margin-right: 20px"/>
      <BtnFilled text="Historique" :click="history" />
    </div>
  </div>
</template>

<script>
import Equiv from './Stats/Equiv'
import BtnFilled from './Btn/Filled'
import Domain from './Stats/Domain'

export default {
  name: 'Home',
  components: {
    Equiv,
    BtnFilled,
    Domain
  },
  computed: {
    skip () {
      const skip = localStorage.getItem('skip')
      return (skip === null) ? null : skip === 'true'
    }
  },
  methods: {
    compensate: function () {
      window.open('https://ecoweb2.gitlab.io/webapp/#/compensate')
    },
    history: function () {
      window.open('https://ecoweb2.gitlab.io/webapp/#/profile')
    }
  }
}
</script>

<style scoped>
.footer {
  position: absolute;
  bottom: 20px;
  left: 23%;
}
</style>
