<template>
  <div class="login">
    <div class="title">Bonjour</div>

    <div class="form">
      <div class="email">
        <label class="label">Email</label>
        <br />
        <input class="input" v-model="form.email" type="email" name="email" />
      </div>

      <div class="password">
        <label class="label">Password</label>
        <br />
        <input
          class="input"
          v-on:keyup.enter="reqLogin"
          v-model="form.password"
          type="password"
          name="password"
        />
      </div>
      <div class="loginError">
        <span v-if="fail"> Identifiant et/ou mot de passe incorrect(s) !</span>
      </div>
    </div>

    <div class="actions">
      <BtnTransparent text="Inscription" :click="register" />
      <BtnFilled text="Connexion" :click="reqLogin"/>
    </div>

    <div class="footer">
      <BtnTransparent text="Continuer" :click="withoutLogin" />
    </div>

    <!--        TODO : Make the z-index work !-->
    <!--        <img class="logo" src="/icons/icon.png" alt="data" height="350" />-->
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
import BtnFilled from './Btn/Filled'
import BtnTransparent from './Btn/Transparent'

export default {
  name: 'Login',
  components: {
    BtnFilled,
    BtnTransparent
  },
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      fail: false
    }
  },
  methods: {
    ...mapActions(['login', 'skip']),
    register () {
      window.open('https://ecoweb2.gitlab.io/webapp/#/register')
    },
    reqLogin () {
      if (this.form.email === '' || this.form.password === '') {
        return
      }
      axios
        .post(
          'https://ecoweb-efrei-production.herokuapp.com/api/' + 'auth/login',
          {},
          {
            auth: { username: this.form.email, password: this.form.password }
          }
        )
        .then(res => {
          this.fail = false
          if (res.status === 200) {
            this.login(res.data.token)
            this.saveJWTLocalStorage(res.data.token)
          } else this.fail = true
        })
      // eslint-disable-next-line handle-callback-err
        .catch(err => (this.fail = true))
    },
    saveJWTLocalStorage (jwt) {
      localStorage.setItem('jwt', jwt)
    },
    saveSkipLocalStorage () {
      localStorage.setItem('skip', 'true')
    },
    checkLocalStorage () {
      const jwt = localStorage.getItem('jwt')
      if (jwt !== null) this.login(jwt)
      const skip = localStorage.getItem('skip')
      if (skip === 'true') this.skip()
    },
    withoutLogin () {
      this.skip()
      this.saveSkipLocalStorage()
    }
  },
  mounted () {
    this.checkLocalStorage()
  }
}
</script>

<style scoped>
.title {
  padding-top: 40px;
  color: #349868;
  font-family: Avenir_Black, serif;
  font-size: 36px;
  text-align: center;
}

.form {
  z-index: 1;
  padding-top: 30px;
}

.email {
  margin-top: 20px;
}

.password {
  margin-top: 15px;
}

.label {
  font-family: Avenir;
  font-size: 14px;
  padding-left: 11%;
  letter-spacing: 0.5px;
  line-height: 22px;
}

.loginError {
  display: block;
  margin: 0 auto;
  padding-left: 10px;
  font-size: 14px;
  width: 80%;
  height: 30px;
  font-family: Avenir_Roman, serif;
  border: none;
  color: red;
}

.input {
  display: block;
  margin: 0 auto;
  padding-left: 10px;
  font-size: 14px;
  width: 80%;
  height: 30px;
  border-radius: 8px;
  background-color: rgba(238, 238, 238, 0.5);
  font-family: Avenir_Roman, serif;
  border: none;
}

.actions {
  z-index: 10;
  padding-top: 40px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
</style>
