<template>
  <button
    class="bnt-filled"
    type="button"
    :style="{ fontSize: size }"
    @click="click"
  >
    {{ text }}
  </button>
</template>

<script>
// TODO : Fix css binding
export default {
  name: 'Filled',
  props: {
    text: {
      type: String
    },
    size: {
      type: Number,
      default: () => 20
    },
    click: {
      type: Function
    }
  }
}
</script>

<style scoped>
.bnt-filled {
  height: 40px;
  width: 140px;
  background-color: #349868;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-family: Avenir_Light;
  font-weight: 300;
  letter-spacing: 0.33px;
  line-height: 33px;
  text-align: center;
  outline: 0;
  -moz-outline: 0;
  border: 0;
  cursor: pointer;
}
</style>
