<template>
  <button class="bnt-transparent" type="button" @click="click">
    {{ text }}
  </button>
</template>

<script>
export default {
  name: 'Transparent',
  props: {
    text: {
      type: String
    },
    click: {
      type: Function
    }
  }
};
</script>

<style scoped>
.bnt-transparent {
  z-index: 0;
  height: 40px;
  width: 140px;
  border-radius: 8px;
  color: #000;
  font-family: Avenir_Light;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.33px;
  line-height: 33px;
  text-align: center;
  border: none;
  background: none;
  outline: 0;
  -moz-outline: 0;
  border: 0;
  cursor: pointer;
}
</style>
